
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url("tile.css");


:root{
    --transition-time: 0.3s;
    --underline:black;
    --shadow-color: 0;
    --opposite-color: 255;
    width: 100%;
}

html,body{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}

body{
    font-family: "Geist Mono", Helvetica, sans-serif;
    user-select: none;
}

body a{
    text-decoration: none;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 2vw, 2rem);
}

#title{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    cursor:default;
}

#main-nav{
    display: flex;
    flex-direction: column;
    width:max-content;
}

#main-nav a {
    opacity: 0;
    position: relative;
}

#main-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1%;
    width: 100%;
    height: 5%;
    background-color: var(--underline);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

#main-nav a:hover::after {
    transform: scaleX(1);
}

.fade-in{
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.hidden-link {
    opacity: 0;
    animation: moveUp 1s ease-in forwards 1s;
    margin-bottom: 0.75em;
}

@keyframes moveUp {
    0% {
        transform: translateY(5vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveDown{
    0%{
        transform: translateY(-5vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveUpClose{
    0% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible !important;
    }
    100% {
        transform: translateY(-10px);
        opacity: 0;
        visibility: hidden !important;
    }
}

@keyframes inFromLeft {
    0%{
        transform: translateX(-7.5vw);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

#main-foot{
    visibility: hidden;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 2.5s;

    height:1.5em;

    position: relative;
    display: flex;
    justify-content: left;
    flex-shrink: 0;
    gap:1.5vw;
}

#theme-toggle{
    animation: inFromLeft 1.25s ease-in forwards !important;
}

#main-foot img{
    height: 100%;
    object-fit: contain;
    transition: ease var(--transition-time);
}

#main-foot img:hover{
    transform: scale(1.15);
}

#github-img{
    transition: opacity var(--transition-time) ease;
}

.nav-bar{

    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;

    top: 1vh;
    left: 1.5vw;
}

.nav-bar div{
    display: flex;
    align-items: center;

    height: 2em;
    padding: 0.25em;
}

.nav-bar a{
    text-decoration: none;
    transition: ease-in 0.1s;
    object-fit: contain;
}

.nav-bar a:hover{
    font-weight:600;
    font-size: 1.3em;
}

.nav-bar p:hover{
    cursor: default;
}

.light-mode{
    background-color: white;
    color: black;
    --underline:black;
    --shadow-color: 0;
    --opposite-color: 255;
    transition: ease var(--transition-time);
}

.light-mode a{
    color: black;
    transition: ease var(--transition-time);

}

.dark-mode{
    background-color: black;
    color: white;
    --underline:white;
    --shadow-color: 255;
    --opposite-color: 0;
    transition: ease var(--transition-time);
}

.dark-mode a{
    color: white;
    transition: ease var(--transition-time);
}

.main-sub{
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"].toggle{
    position: absolute;
    opacity: 0;
    left: -9000px;
    top: -9000px;
}

input[type="checkbox"].toggle + label{
    position: relative;
    display: flex;
    cursor: pointer;
}

input[type="checkbox"].toggle + label::before{
    content: "";
    width:2em;
    height:1em;
    background-color: rgb(0, 0, 20);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.75);
    border-radius: 1em;

    transition: ease var(--transition-time);
}

input[type="checkbox"].toggle + label::after {
    position: absolute;
    top:0.1em;
    left: 0.1em;
    content: "";
    width: 0.8em;
    height: 0.8em;
    align-items: center;
    background: white;
    border-radius: 0.8em;

    transition: ease var(--transition-time);
}

input[type="checkbox"].toggle:checked + label::after {
    transform: translateX(1em);
    background-color: rgb(0, 0, 20);

    transition: ease var(--transition-time);
}

input[type="checkbox"].toggle:checked + label::before{
    background-color: white;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);

    transition: ease var(--transition-time);
}

.switch-container{
    margin-left: auto;
}

#content-foot{
    height:1.5em;

    position: relative;
    top:0;
    left:0;
    display: flex;
    justify-content: left;
    flex-shrink: 0;
    gap:1.5vw;
}

#content-foot img{
    height: 100%;
    object-fit: contain;
}

.logos{
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    top:1%;
    right:1%;
}

.logos img{
    width:2em;
    height: auto;
    object-fit: contain;
    padding: 0.5em;
}

.logos a:hover{
    transform: scale(1.25);
}

.content{
    position: relative;
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    justify-content: center;
}

.entry {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    flex-wrap: nowrap;
    transition: ease var(--transition-time);
    margin-left: 1vw;
    margin-right: 1vw;
}

.entry:hover{
    box-shadow: 0px 0px 10px 5px rgba(var(--shadow-color), var(--shadow-color), var(--shadow-color), 0.5);
}

.entry a{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    transition: ease var(--transition-time);
    cursor: default;  
}

#date {
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    flex-shrink: 0;
}

#text {
    flex: 1;
    word-wrap: break-word;
    white-space: normal;
    margin-left: 1em;
    margin-right: 1em;
}

.page-title{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    font-size: 2vw;
    height: fit-content;
    cursor: default;
}

#back{
    padding-top: 3em;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;

    text-align: center;
    padding-bottom: 1em;

    height: 3vh;
}

#back a:hover{
    font-weight: 750;
    font-size: 1.3em;
}

.dropdown{
    visibility: hidden;
    position: absolute;
    top: 1em;
    left: 1em;
}

#dropdown-menu{
    position: absolute;
    visibility: hidden;
    opacity: 0;

    background-color: rgb(var(--shadow-color),var(--shadow-color),var(--shadow-color));

    top: 2em;
    left: 0;

    min-width: 6em;
    transition: visibility 0s linear var(--transition-time);

    flex-direction: column;
    align-items: flex-start;
}

#dropdown-menu a{
    color: rgb(var(--opposite-color),var(--opposite-color),var(--opposite-color));
    visibility: none;
}

.dropbtn {
    opacity: 1;
}

.dropdown img{
    max-width: 2em;
    transition: ease var(--transition-time);
}

.dropdown:hover #dropdown-menu{
    animation: moveDown var(--transition-time) ease-in-out forwards;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.dropdown:not(:hover) #dropdown-menu {
    animation: moveUpClose var(--transition-time) ease-in-out forwards !important;
}

.dropdown:not(:hover) .dropbtn {
    animation: moveDown var(--transition-time) ease-in-out forwards !important;
}

.dropdown:hover .dropbtn{
    visibility: hidden;
    opacity: 0;
}

#dropdown-menu:hover{
    visibility: visible;
}

.dropdown:hover #dropdown-menu a{
    transition-delay: 0.25s;
    visibility: visible;
}

.dropdown:hover #dropdown-menu a:hover{
    transition-delay: 0s;
}

#about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#about-me img{
    padding-left: 2%;
    padding-right: 2%;
    width: 10vw;
}

#self{
    width:20vw !important;
}

#try-again{
    padding-left: 1%;
    padding-right: 1%;
    color: rgb(var(--opposite-color),var(--opposite-color),var(--opposite-color));
    background-color: red;
    text-align: center;
    transition: ease var(--transition-time);
    width: 200px;
    align-self: center;
}

#try-again:hover{
    color: rgb(var(--shadow-color),var(--shadow-color),var(--shadow-color));
    box-shadow: 0px 0px 10px 5px rgba(var(--shadow-color), var(--shadow-color), var(--shadow-color), 0.5);
}

@media (max-width: 768px){

    .dropdown img{
        max-width: 4vw;
    }

    .entry a{
        flex-direction: column;
        text-align: center;
    }

    #about-me{
        flex-direction: column;
        gap: 0;
    }

    #about-me img{
        width: 15vw;
        height: auto;
    }
    
    #self{
        width:30vw !important;
    }
}

@media (max-width: 480px){

    .nav-bar {
        visibility: hidden;
    }

    .dropdown {
        visibility: visible;
    }

    #main{
        font-size: 4vw;
    }

    #dropdown-menu{
        top: clamp(1.5em,2em,2em);
    }

    .page-title{
        font-size: 3vw;
    }

    .dropdown img{
        max-width: 9vw;
    }
}

@media only screen and (max-width: 60em){

    .nav-bar {
        visibility: hidden;
    }

    .dropdown {
        visibility: visible;
    }
}