
@import url("global.css");

#tile-content{
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
}

.tile{
    flex:1 0 200px;
    text-align: center;
    align-content: center;
    margin: 0.5%;

    min-width: 20%;

    transition: ease var(--transition-time);

    border: 2.5px solid rgba(var(--shadow-color), var(--shadow-color), var(--shadow-color), 0.25);
}

.tile:hover{
    box-shadow: 0px 0px 10px 5px rgba(var(--shadow-color), var(--shadow-color), var(--shadow-color), 0.5);
    cursor: default;
}