/*

Author: Luca Mawyin
Date: Feb 2 2025

*/

#wireframe-layout{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;

    font-weight: 750;
    text-align: center;
}

#wireframe-layout a{
    text-decoration: underline;
}

.wire-main{
    width:20%;
    display: block;
    box-sizing: border-box;

    margin-left: 1%;
    margin-right: 1%;
}

.wire-sub{
    width: 78%;
    box-sizing: border-box;
    transition: ease 0.3s;
    flex-wrap: wrap;
}

#wireframe-layout img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 1vh;
}

.wire-main h1{
    font-size: 1.5em;
}

#wireframe-layout a{
    word-wrap: break-word;
    margin-left: 1em;
    margin-right: 1em;
    display: block;
    margin-bottom: 1em;
}

.sub{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    gap:1%
}

.sub div{
    width: 24%;
    box-sizing: border-box;
}

@media (orientation:portrait) and (max-width:1024px) and (min-width: 480px){

    .wire-main{
        width: 100%;
    }

    .wire-sub
    {
        width: 100%;
        margin-left: 1%;
    }

    .sub div{
        width: 49%;
    }
}

@media (max-width: 480px) and (orientation: portrait) {

    .wire-main{
        width: 100%;
    }

    .wire-sub
    {
        width: 100%;
        margin-right: 1%;
        margin-left: 1%;
    }

    .sub div{
        width: 100%;
    }
}